<!DOCTYPE html>
<html lang="en">
<head th:replace="common/footer :: header-f" />
<body class="sb-nav-fixed">
<nav th:replace="common/footer ::navbar-f" >
</nav>
<div id="layoutSidenav">
    <div th:replace="common/footer ::layout-f"></div>
    <div id="layoutSidenav_content">
        <div class="container page-content">
            <form th:action="@{/hoa-don/cap-nhat}"  method="post" th:object="${hoaDon}" >
                <fieldset>
                    <legend class="center-block" style="margin-left: 50px; font-weight: bold">
                       SỬA CƯ DÂN
                    </legend>
                    <div class="form-group row" style="margin-top: 30px;">
                        <div class="col-6">
                            <input type="hidden" th:field="*{id}" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row" style="margin-top: 50px;">
                        <label for="title" class="col-2 col-form-label text-right">Số đã dùng</label>
                        <div class="col-6">
                            <input type="text" th:field="*{soDaDung}" class="form-control" id="title" name="ten">
                        </div>
                    </div>


                    <div class="form-group row" style="margin-top: 50px;">
                        <div class="offset-2 col-6">
                            <button type="submit" class="btn btn-success">Sửa</button>
                            <a  href="/hoa-don/danh-sach-hoa-don/" style="margin-left: 50px;" class="btn btn-danger" >Hủy</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <footer th:replace="common/footer ::footer-f" >
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/assets/demo/chart-area-demo.js"></script>
<script src="/assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script th:src="@{../js/datatables-simple-demo.js}"></script>
</body>
</html>
